.dock{
    display:flex;
    position:absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 1.35rem;
    padding-block:0.45rem;
    border-radius: 0.45rem;
    backdrop-filter: blur(5px);
    gap: 8px;
    
    .icon{
        padding: 0.25rem;
        border-radius: 0.35rem;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        width: 3rem;
        border-radius: 50%;
        transition: all 0.3s ease;
    }
    background-color: #7777771b;
    .github,.cli{
        background-color: black;
        color:white;
    }
    .notes{
        background:linear-gradient(to bottom ,rgb(248, 200, 141),rgb(255,153,28));
    }
    .pdf{
        background:linear-gradient(to bottom ,rgb(250, 65, 78),rgb(255,25,40));
    }
    .calender,.mail{
        background:linear-gradient(to bottom ,rgb(139, 65, 250),rgb(86, 25, 255))
    }
    .spotify{
        background:linear-gradient(to bottom ,rgb(133, 255, 170),rgb(29, 255, 25))
    }
    .link{
        background:linear-gradient(to bottom ,rgb(165, 53, 90),rgb(169, 17, 68))
    }

    .icon:hover{
        transform: scale(1.25) translateY(-20%);
    }
    .icon:hover + .icon,
    .icon:has(+ .icon:hover){
        transform: scale(1) translateY(-10%);
    }
}












.remix{
    font-size:x-large;
}