.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.75rem;
    padding-block: 0.1rem;
    background-color: #7777771b;
    backdrop-filter: blur(2px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;

    .left{
        display:flex;
        gap: 1rem;
    }
    .right{
        display: flex;
        gap:1rem;
    }
}

