*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body,#root{
    height:100%;
    width:100%;
}

main{
    height:100%;
    width:100%;
    background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

body{
    background-color:black
}